@import url('https://fonts.googleapis.com/css?family=Teko|Ultra&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0d0b0b;
}

.navigation .links {
  position: absolute;
  bottom: 0px;
  padding: 20px 25px;
}

.navigation .links a {
  color: #eee;
  font-size: 20px;
  display: block;
  text-decoration: none;
  margin: 20px 0px;
  padding: 0px 10px;
  border-left: 5px solid transparent;
  transition: all 300ms ease-in-out;
}

.navigation .links a:hover {
  border-left: 5px solid #eee;
}


.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 150vh;
  background: #eee;
  padding: 100px 30px;
  box-sizing: border-box;
  transform-origin: top left;
  transform: rotate(0deg);
  transition: all 800ms ease-in-out;
}

.ham-btn {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 50px;
  height: 50px;
  background: #0d0b0b;
  z-index: 2;
  border-radius: 16px;
  cursor: pointer;
}

.ham-btn span {
  width: 50%;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  transition: all 600ms ease-in-out;
}

.ham-btn span:nth-child(1) {
  top: 30%;
}

.ham-btn span:nth-child(3) {
  top: 70%;
}

body.activeNav {
  overflow: hidden;
}

body.activeNav .content {
  transform: rotate(-32deg);
}

body.activeNav .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

body.activeNav .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

body.activeNav .ham-btn span:nth-child(2) {
  display: none;
}

h1 {
  font-family: 'Montserrat';
  font-size: 80px;
  
}
li {
  font-size: 18px;
  /* font-family: 'Montserrat'; */
}

p {
  font-family: 'teko';
  font-size: 35px;
  text-align: center;
  line-height: 45px;
}

.quote::before {
  position: relative;
  top: 20px;
  content: open-quote;
  color: silver;
  font-size: 90px;
 
}

.quote::after {
  position: relative;
  top: 20px;
  content: close-quote;
  font-size: 90px;
  color: silver;
}

.ae {
  /* line-height: -10px; */
  text-align: right;
}




